<!DOCTYPE html>
<html>
  <head>
    <title>MarleySpoon</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag  'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="<%= "#{ 'active' if params[:controller] == 'recipes' && params[:action] == 'index'}"%>"><%= link_to 'All Recipes', recipes_path %></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid text-center">
  <%= yield %>
  </div>
  </body>
</html>
